<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Login test using selenium">
        <classes>
            <class name="com.testCases.LoginTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Login test using rest Assured">
        <classes>
            <class name="com.testCases.LoginAPiTest"/>
        </classes>
    </test>
</suite>